{% extends "base.html" %}
{% block javascript %}
<script type= "text/javascript" src= "static/home.js"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript"> stLight.options({publisher: "ur-a8f06c21-be42-adf9-fef6-56f79368af98"}); 
</script>
{% endblock %}

{% block content %}
<div id="all">
    <div id="head">
        <h1>COSO</h1>
        <div id="social">
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_fblike_large' displayText='Facebook Like'></span>
        </div>
        
    </div>
    <div id="main">
       <img src = "http://pixitr.com/files/funzug/imgs/wildlife/soda_can_puppies_01.jpg" width = "100%" height = "100%" />
        <div class="panel" id = "party">
            <div id="left">
                <h2>Start the party</h2>
                <a href="{{url_for("create_session")}}" class = "button">Host</a>
            </div>
            <div id="right">
                <h2>Join a party</h2>
                    <form action = "{{url_for('join_session')}}" method= "GET">
                        <input type = "text" value = "" id = "session_id" name = "session_id" /> <br>
                        <input type = "submit" class = "button" value = "Attend"/>
                     </form>
            </div>
        </div>
        <div class = "panel" id = "foot">
            <h3 id = "about">What is this exactly?</h1>
            <p id= "about_text"> Missing your friends and family? Wish you could still do all the things you used to do when you were all in one place? Coso provides a place for people to hangout out together and continue doing all the things they love doing together, by videochatting and browser sharing on one screen. </p>
        </div>
    </div>
</div>
{% endblock %}
   