<html>
<head>
<title> COSO </title>
<link rel="stylesheet" type="text/css" href="static/coso.css">
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<script>
var OT_sessionID = "{{g.OT_sessionID}}";
var OT_apiKey = "{{g.OT_apiKey}}";
var OT_token = "{{g.OT_token}}";
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>

<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
<script type="text/javascript" src="static/vid.js"></script>
<script type="text/javascript" src="static/browser.js"></script>
</head>


<body>
<div class="all">
	<div id="browser">
		<input type="text" id="destination_url" size="90%" value=""></input>
		<a href="" id="navigate" class="button">Go</a>

		<iframe id="main_frame" src="">
		</iframe>
	</div>
	<div id="myvid">
		<div id="user_video">
			<p>Your video is loading...</p>
		</div>
	</div>
	<div id="feeds">
	Share this page with friends to see them here!
	</div>
</div>
</body>
</html>