{% extends "base.html" %}
{% block javascript %}
<script type="text/javascript">
var sessionId = "{{session_id}}";
var uniqueToken = "{{unique_token}}";
</script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<!-- <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script> -->
<script type= "text/javascript" src= "static/screentest.js"></script>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
<script type="text/javascript" src="static/vid.js"></script>
<script type="text/javascript" src="static/browser.js"></script>

{% endblock %}

{% block content %}
<div class="all">
	<div id="top" class = "" >
		<div id = "top_three">
			<div id="logo">
				<h1>COSO</h1>
			</div>
			<div id="navigation">
				<a href="" id="back" class="button smallbutton">&larr;</a>
				<a href="" id="forward" class="button smallbutton">&rarr;</a>
				<input type="url" id="destination_url" size="85%" value="http://"></input>
				<a href="" id="navigate" class="button smallbutton">Go</a>
			</div>
			<div id="topright">
				Invite Friends!
			</div>
		</div>
		<div id = "invite">
			<p id = "invite_text"> Your session id is: {{session_id}}</p>
		</div>
	</div>
	<div id="browser" class="browser_showing">
		<iframe id="main_frame" src="http://localhost:5000/test1">
		</iframe>
	</div>
	<div id="bottom">
		<div id="myvid">
			<div id="user_video">
			</div>
			<input type = "button" class="button smallbutton" value = "Video On" id="publishLink"/>
			<input type = "button" class="button smallbutton" value = "Peace Out" id="unpublishLink"/>
		</div>
		<div id="feeds">
			<!-- Share with friends to see them here! Session: {{session_id}}
		</div> -->
	</div>
</div>
{% endblock %}